<section class="c-section p-home-introduction u-mt0" id="introduction">
  <div class="p-home-introduction__columns u-full-width u-mt0 --left">
    <figure class="p-home-introduction__column">
      <img src="/assets/images/home/mainvisual_pict_1.webp" alt="ON the TABLE CHINESE">
    </figure>
    <div class="p-home-introduction__column">
      <p class="p-home-introduction__lead">すーっと沁みる、<br>身体にやさしい<br>中国料理を</p>
    </div>
  </div>
  <div class="p-home-introduction__columns u-full-width --right">
    <figure class="p-home-introduction__column">
      <img src="/assets/images/home/mainvisual_pict_2.webp" alt="ON the TABLE CHINESE">
    </figure>
    <div class="p-home-introduction__column"></div>
  </div>
  <div class="p-home-introduction__summary u-full-width">
    <p>日本の豊かな土壌で育った野菜や<br>選りすぐりの旬の食材を使い<br>本格的な中国料理のコースをご提供する<br>「ON the TABLE CHINESE」は<br>フカヒレの姿煮をはじめとしたスペシャリテな<br>一皿ひと皿をお召し上がりいただけます。</p>
    <p>料理長が厳選したワインや紹興酒など、<br>お料理に合わせたペアリングも<br>お楽しみいただけます。</p>
    <p>ゆったりと落ち着いた雰囲気の店内は<br>貸切のご予約も可能です。<br>記念日のお祝いや二次会、接待まで<br>幅広いシーンでご利用いただけます。<br>特別なひとときをお過ごしください。</p>
  </div>
  <div class="p-home-introduction__columns u-full-width --left">
    <figure class="p-home-introduction__column">
      <img src="/assets/images/home/mainvisual_pict_3.webp" alt="ON the TABLE CHINESE">
    </figure>
    <div class="p-home-introduction__column"></div>
  </div>
  <!--  / .l-section /  -->
</section>