<section class="c-section p-home-menu" id="menu">
  <h2 class="c-heading" style=""><span>Menu</span></h2>
  <div class="p-home-menu__list">
    <div class="p-home-menu__item">
      <h3 class="--name"><span>おまかせコース（6品）</span></h3>
      <p class="--summary">前菜とメインのお料理の<br>カジュアルなコースです</p>
      <span class="--price"><em>6,600</em>円</span>
      <!--  / .p-home-menu__item /  -->
    </div>
    <div class="p-home-menu__item">
      <h3 class="--name"><span>フカヒレ醤油煮込入り<br>おまかせコース（7品）</span></h3>
      <p class="--summary">前菜からデザートまで<br>お楽しみいただけるコースです</p>
      <span class="--price"><em>13,750</em>円</span>
      <!--  / .p-home-menu__item /  -->
    </div>
    <div class="p-home-menu__item">
      <h3 class="--name"><span>フカヒレ食べ比べ入り<br>おまかせコース（８品）</span></h3>
      <p class="--summary">前菜からデザートまで<br>お楽しみいただけるコースです</p>
      <span class="--price"><em>22,000</em>円</span>
      <!--  / .p-home-menu__item /  -->
    </div>
    <p class="p-home-menu__notice">上海蟹の特別コースや、<br>品数をおさえたショートコースなどもございます。</p>
    <div class="p-home-menu__others">
      <figure>
        <img src="/assets/images/home/menu_pict.webp" alt="アラカルトメニュー">
      </figure>
      <p>アラカルトメニューのご用意もございます。</p>
      <!--  / .p-home-menu__others /  -->
    </div>
    <!--  / .p-home-menu__list /  -->
  </div>
  <!--  / .l-section /  -->
</section>