<section class="c-section p-home-news" id="news">
  <h2 class="c-heading" style="">News</h2>
  <div class="p-home-news__list">
    <a href="#" class="p-home-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .p-home-news__item /  -->
    </a>
    <a href="#" class="p-home-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .p-home-news__item /  -->
    </a>
    <a href="#" class="p-home-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .p-home-news__item /  -->
    </a>
    <!--  / .p-home-news__list /  -->
  </div>
  <a href="/news/" class="p-home-news__button">全てのNEWSを見る</a>
  <!--  / .l-section /  -->
</section>