<section class="c-section p-home-our-statement" id="our-statement">
  <h2 class="c-heading" style=""><span>Our Statement</span></h2>
  <p class="p-home-our-statement__text">旬菜旬魚との出会い<br>中国料理とワインのペアリング<br>その食材にまつわる物語．．．</p>
  <p class="p-home-our-statement__text">このテーブルの上で<br>驚きや発見を<br>体感していただきたい</p>
  <p class="p-home-our-statement__text">たくさんのお客様の<br>笑顔溢れるテーブルでありたい</p>
  <!--  / .l-section /  -->
</section>
<section class="p-home-our-statement__gallery">
  <ul>
    <li><img src="/assets/images/home/our_statement_pict_1.webp" alt=""></li>
    <li><img src="/assets/images/home/our_statement_pict_2.webp" alt=""></li>
  </ul>
  <!--  / .p-home-our-statement__gallery /  -->
</section>