<header class="l-header js-header">
  <div class="l-header__inner">
    <p class="l-header__logo"><a href="/"><img src="/assets/images/common/logo.svg" alt="ON the TABLE CHINESE" width="180" height="74"></a></p>
    <p class="l-header__text">オンザ テーブル チャイニーズ</p>
    <div class="l-header__menu c-hamburger js-menu-toggle">
      <button class="c-hamburger__button" title="MENU">
        <span class="c-hamburger__border"></span>
        <span class="c-hamburger__border"></span>
        <span class="c-hamburger__border"></span>
      </button>
    </div>
    <!--  / .l-header__inner /  -->
  </div>
  <div class="l-header__nav p-navigation-sp">
    <div class="p-navigation-sp__inner">
      <nav class="p-navigation-sp__nav">
        <ul id="p-navigation-sp" class="--navigation">


        </ul>
      </nav>
    </div>
    <!--  / .l-header__nav /  -->
  </div>
</header>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />