<header class="l-header js-header">
  <div class="l-header__inner">
    <p class="l-header__logo"><a href="/"><img src="/assets/images/common/logo.svg" alt="ON the TABLE CHINESE" width="180" height="74"></a></p>
    <p class="l-header__name">オンザ テーブル チャイニーズ</p>
    <div class="l-header__menu c-hamburger js-menu-toggle">
      <button class="c-hamburger__button" title="MENU">
        <span class="c-hamburger__border"></span>
        <span class="c-hamburger__border"></span>
        <span class="c-hamburger__border"></span>
      </button>
    </div>
    <!--  / .l-header__inner /  -->
  </div>
  <div class="l-header__nav p-navigation">
    <div class="p-navigation__inner">
      <nav class="p-navigation__nav">
        <ul class="--navigation">
          <li class="--navigation-item"><a href="#menu">Menu</a></li>
          <li class="--navigation-item"><a href="#chef">Chef</a></li>
          <li class="--navigation-item"><a href="#our-statement">Our Statement</a></li>
          <li class="--navigation-item"><a href="#news">News <span class="icon-recent">新 着</span></a></li>
          <li class="--navigation-item"><a href="#restaurant">店舗情報</a></li>
          <li class="--navigation-item"><a href="#inquiry">お問い合わせ・ご予約</a></li>
          <li class="--navigation-item"><a href="#" target="_blank">Follow us <i class="icon-instagram"></i></a></li>
        </ul>
      </nav>
    </div>
    <!--  / .l-header__nav /  -->
  </div>
</header>