<section class="c-section c-news">
  <div class="p-news__contents">
    <header>
      <time class="--date">2024.01.01</time>
      <h1 class="--title">ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。</h1>
    </header>
    <article>
      <p>ここに本文が入ります。</p>
    </article>
  </div>
  <div class="p-news__pagination">
    <ul>
      <li class="--prev">
        <a href="#">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </a>
      </li>
      <li class="--all">
        <a href="#">News一覧</a>
      </li>
      <li class="--next">
        <a href="#">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
  <!--  / .l-section /  -->
</section>