<main class="l-main">
  <div class="l-main__inner p-news">
    <%- include('./_templates/_news/_pagetitle.ejs', { domain, path, dir, meta: meta }); %>
    <%- include('./_templates/_news/_contents.ejs', { domain, path, dir, meta: meta }); %>
    <!--  / .l-main__inner /  -->
  </div>
</main>