<section class="c-section c-news">
  <div class="c-news__list">
    <a href="#" class="c-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .c-news__item /  -->
    </a>
    <a href="#" class="c-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .c-news__item /  -->
    </a>
    <a href="#" class="c-news__item">
      <time class="--date">2024.01.01</time>
      <h3 class="--title">
        ここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入りますここにタイトルが入ります。
      </h3>
      <ion-icon name="ios-arrow-forward" class="--icon"></ion-icon>
      <!--  / .c-news__item /  -->
    </a>
    <!--  / .c-news__list /  -->
  </div>
  <div class="p-news__pagination">
    <ul>
      <li class="--prev">
        <a href="#">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </a>
      </li>
      <li class="--all">
        <!--a href="#">News一覧</a-->
      </li>
      <li class="--next">
        <a href="#">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
  <!--  / .l-section /  -->
</section>