<%- include('./_templates/_config.ejs'); %>
<%_
  const meta = {
    page: 'news',
    title: 'NEWS｜サイト名',
    description: 'ここにNEWSのディスクリプションが入ります',
    canonical: 'https://prod.com/news/detail/',
    ogp: 'https://prod.com/assets/images/ogp.png',
    stylePath: '/assets/css/',
    scriptPath: '/assets/js/',
    imgPath: '/assets/images/',
    linkPath: '../'
  };
  const structured = {
    item: [
      {
        level: '2',
        name: 'ニュース',
        url: `/${ meta.page }/`,
      },
    ],
  };
_%>
<%- include('./_templates/_head.ejs', { domain, path, dir, meta: meta, structured }); %>
<%- include('./_templates/_header.ejs', { domain, path, dir, meta: meta }); %>
<%- include('./_templates/_news/_index.ejs', { domain, path, dir, meta: meta }); %>
<%- include('./_templates/_footer.ejs', { domain, path, dir, meta: meta }); %>

<link rel="stylesheet" href="../scss/style.scss" />
<script type="module" src="../js/main.js"></script>
</body>

</html>